.section {
    &_pick {
        background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
        opacity: 0.9;
        padding: 69px 0 100px;
    }
    &-pick-content {

    }
}

.pick {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding-top: 41px;
    padding-bottom: 59px;
    &__caption {
        color: #FE9013;
        margin-bottom: 31px;
    }
    &__sub-caption {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: #333B41;
        margin-bottom: 41px;
    }
    &__text {
        &, & a, & a:visited {
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: #333B41;
        }
        position: relative;
        a {
            border-bottom: 1px solid #FE9013;
            padding-bottom: 2px;
        }
        &-block {
            margin-left: 99px;
            margin-bottom: 60px;
        }
        &_bold{
            font-weight: 500;
            margin-bottom: 10px;
        }
        &_main {
            width: 863px;
            height: 42px;
        }
    }
    &__pay-caption {
        text-align: center;
        margin-bottom: 39px;
    }
}

.payment-block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;
    &__arrow {
        display: flex;
        justify-content: center;
        width: 130px;
        height: 168px;
        padding-top: 61px;
        img {
            width: 71px;
            height: 37px;
        }
    }
}

.payment-card {
    width: 168px;
    &__img {
        &-content {
            background: linear-gradient(to right bottom, #FA6F32, #FE9013);
            border-radius: 5px;
            width: 100%;
            height: 168px;
            padding: 1px;
        }
        &-wrap {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FFFFFF;
            border-radius: 4px;
            overflow: hidden;
        }
        width: 100%;
        height: 100%;
        &_card {
            width: 108px;
            height: 60px;
        }
        &_hand {
            width: 87px;
            height: 96px;
            margin: 4px 0 0 -1px;
        }
        &_monkey {
            width: 127px;
            height: 73px;
        }
    }
    &__text {
        height: 76px;
        padding-top: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #333B41;
    }
}

@media screen and (max-width: $media2) {
    .section {
        &_pick {
            padding: 30px 0 50px;
        }
    }
    .pick {
        padding-top: 30px;
        padding-bottom: 50px;
        &__text {
            &-block {
                margin-left: 49px;
                margin-bottom: 40px;
            }
            width: 81.5vw;
        }
        &__caption {
            margin-bottom: 21px;
        }
        &__sub-caption {
            margin-bottom: 21px;
        }
    }

    .payment-block {
        margin-bottom: 70px;
    }
}

@media screen and (max-width: $media3) {
    .section {
        &_pick {
            padding: 20px 0;
        }
        &-pick-content {
            padding: 0;
        }
    }
    .pick {
        padding-top: 10px;
        padding-bottom: 60px;
        &__text {
            width: 100%;
            &-block {
                margin: 0 20px 30px;
            }
            &_bold {
                margin-bottom: 10px;
            }
        }
        &__caption {
            margin-bottom: 21px;
            font-weight: 400;
            font-size: 42px;
            line-height: 120%;
        }
        &__sub-caption {
            margin-bottom: 20px;
            font-weight: 400;
            font-size: 22px;
            line-height: 120%;
        }
        &__pay-caption {
            margin-bottom: 20px;
        }
    }

    .payment-block {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 40px;
        &__arrow {
            display: flex;
            justify-content: center;
            align-items: start;
            width: 42px;
            padding-top: 0;
            position: relative;
            img {
                content: url('assets/images/arrow2.svg');
                position: absolute;
                top: -17px;
                left: -33px;
                width: 89px;
                height: 29px;
            }
        }
    }
}

@media screen and (max-width: $media5) {
    .section {
        &_pick {
            // padding: 20px 10px;
        }
        &-pick-content {
            padding: 0 10px;
        }
    }
    .pick {
        padding: 22px 0 40px;
        &__text {
            display: none;
            &-block {
                margin: 0 0 20px;
                width: 100%;
            }
        }
        &__caption {
            margin-bottom: 10px;
            font-size: 24px;
            line-height: 120%;
        }
        &__sub-caption {
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 120%;
            text-align: center;
        }
        &__pay-caption {
            margin-bottom: 20px;
            font-size: 24px;
            line-height: 120%;
        }
    }

    .payment-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;
        &__arrow {
            display: block;
            width: fit-content;
            height: fit-content;
            left: 90px;
            top: -35px;
            position: relative;
            img {
                transform: rotate(85deg);
            }
        }
    }

    .payment-card {
        margin-bottom: 29px;
        &__text {
            padding-top: 10px;
            height: 49px;
        }
    }
}