.section {
    &_backstage {
        background: url('assets/images/flower.png') 100% 12px no-repeat;
    }
    &-backstage-content {

    }

}

.backstage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 87px;
    align-items: center;
    padding: 140px 0 176px;
    &__img {
        width: 609px;
        height: 403px;
        margin-left: -1px;
    }
    &__content {
        color: #333B41;
    }
    &__caption {
        font-weight: 400;
        font-size: 48px;
        line-height: 120%;
        text-align: left;
    }
    &__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        padding-top: 22px;
    }
    &__subcaption {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        padding-top: 54px;
        text-align: left;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        padding-top: 33px;
    }
}

@media screen and (max-width: $media1) {
    .section {
        &_backstage {
            background: none;
        }
    }
}

@media screen and (max-width: $media2) {
    .backstage {
        grid-column-gap: 31px;
        grid-template-columns: 1fr auto;
        padding: 99px 0 141px;
        &__img {
            margin-left: 0;
            width: 455px;
            height: 408px;
            object-fit: cover;
        }
    }

}