.section {
    &_pets {
        background: url('assets/images/palm.png') -588px 100% no-repeat, url('assets/images/strelitzia.png') bottom right no-repeat;
    }
    &-pets-content {

    }
}


.pet-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    overflow: hidden;
}

.pet-card {
    width: 366px;
    height: 426px;
    border-radius: 5px;
    overflow: hidden;
    background: linear-gradient(to right bottom, #FA6F32, #FE9013);
    padding: 1px;
    z-index: 1;
    &:hover &__img {
        scale: 1.05;
        transition: all 0.5s linear;
        -webkit-filter: brightness(50%);
    }
    &:hover &__description {
        top: -57px;
        background-color: #FE9013;
        opacity: 0.8;
        border-radius: 5px;
        margin: 0 5px;
        transition: all 0.5s linear;
    }
    &__content {
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background-color: #fff;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    &__img {
        width: 100%;
        height: auto;
        transition: all 0.5s linear;
    }
    &__description {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 7px 12px 15px;
        top: 0;
        left: 0;
        transition: all 0.5s linear;
    }
    &__text {
        color: #000000;
        font-style: normal;
    }
    &__name {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
    }
    &__area {
        font-weight: 300;
        font-size: 15px;
    }
    &__food {
        width: 48px;
        height: 38px;
        &-img {
            &_meat-fish {

            }
            &_banana-bamboo {
                margin-left: 11px;
                margin-top: 2px;
            }
        }
    }
}

.pets {
    &-block {
        position: relative;
    }
    &__arrows {
        display: flex;
        justify-content: space-between;
        width: calc($content-width + (62px + 20px) * 2 - 2px - 60px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
    &__arrow {
        width: 62px;
        height: 62px;
        display: flex;
        justify-content: center;
        align-items: center;
        &_right {
            transform: rotate(180deg);
        }
    }
    &__button-choose-fav {
        margin: 80px auto 100px;
    }
}

.center-wrap {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: $media2) {
    .section_pets {
        background-position: -192px 100%, bottom right;
        background-size: 386px 202px, 241px 180px;
    }

    .pets {
        &__arrows {
            width: 294px;
        }
        &__button-choose-fav {
            margin-top: 81px;
            margin-bottom: 140px;
        }
    }

    .pet-cards {
        grid-column-gap: 29px;
        grid-row-gap: 92px;
    }

    .pet-card {
        width: 294px;
        height: 354px;
    }
}

@media screen and (max-width: $media3) {
    .section_pets {
        background-position: -252px 100.15%, bottom right;
        background-size: 386px 202px, 175px 131px ;
    }

    .pets {
        &__arrows {
            width: 154px;
            margin-top: -4px;
        }
        &__button-choose-fav {
            margin-top: 60px;
            margin-bottom: 100px;
        }
    }

    .pet-card {
        width: 285px;
        height: 332px;
        &__description {
            padding: 6.24px 6.24px 0 12.47px;
            align-items: flex-start;
        }
        &__name {
            font-size: 12.47px;
            line-height: 155%;
        }
        &__area {
            font-size: 11.7px;
        }
        &__food {
            transform: scale(0.779);
            &-img {
                margin-left: 9px;
                margin-top: -3px;
                &_meat-fish {

                }
                &_banana-bamboo {
                    margin-left: 20px;
                    margin-top: -1px;
                }
            }
        }
    }
}

@media screen and (max-width: $media5) {
    .section_pets {
        background-position: -79.5px 100%, calc(100% + 20px) 100.2%;
        background-size: 137.85px 72px, 90px 70px;
    }

    .pets {
        &__arrows {
            display: none;
        }
        &__button-choose-fav {
            margin-top: 19px;
            margin-bottom: 60px;
        }
    }

    .pet-cards {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        padding: 0 7.3px;
        width: 100%;
        height: 1388px;
    }

    .pet-card {
        width: 285px;
        height: 332px;
        &__description {
            padding-top: 5px;
            padding-left: 12px;
        }
    }
}