@charset "UTF-8";
@import 'assets/styles/reset.css';
@import 'assets/styles/normalize.css';
@import 'assets/styles/fonts.css';
.body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  background: #FFFFFF;
}
h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
}

h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #333B41;
}

.button {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 5px;
}
.button_rounded {
  border-radius: 25px;
  padding: 0 1px 0 5px;
}
.button_rounded:disabled {
  background: #828282;
}
.button_round {
  border-radius: 50%;
}
.button:hover {
  background: #E47209;
}
.button:active {
  background: #4B9200;
}
.button:disabled {
  background: #767474;
}

.center-content {
  max-width: 1160px;
  margin: 0 auto;
}

.header {
  background-color: #000;
  color: #fff;
  height: 80px;
}
.header-content {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-menu {
  width: 100%;
  font-weight: 500;
}
.main-menu__list {
  width: 100%;
  position: relative;
}
.main-menu__item {
  margin: 0 27px;
  display: inline-block;
  position: relative;
  top: 0;
}
.main-menu__item:hover:not(:active) {
  text-shadow: 0px 0px 5px #fff;
  transition: all 0.1s ease-in;
}
.main-menu__item:not(:hover) {
  transition: all 0.1s ease-out;
}
.main-menu__item a, .main-menu__item a:visited {
  color: #fff;
}
.main-menu__item a:active {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  background-color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.main-menu__item_highlighted a, .main-menu__item_highlighted a:visited {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  background-color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.main-menu__item_highlighted a:hover:not(:active) {
  text-shadow: 0px 0px 5px #E47209;
  transition: all 0.1s ease-in;
}
.main-menu__item_margin-left {
  margin-left: 63px;
}
.main-menu__item_align-right {
  position: absolute;
  right: 0;
  margin-right: 0;
}

.logo {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 52px;
}
.logo__text {
  display: block;
  width: 80px;
  height: 50px;
  padding-top: 3px;
  text-align: center;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
}
.logo__icon {
  position: absolute;
  top: 23px;
  left: 9px;
  width: 12px;
  height: 21px;
}

.section_watch {
  background: url("assets/images/panda_bg1.png") 0 -80px/cover no-repeat;
  height: 700px;
}
.section-watch-content {
  display: flex;
  justify-content: flex-end;
}
.section-watch__text-and-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}
.section-watch__button {
  margin-left: 4.7px;
}
.section-watch__text {
  position: relative;
  margin: 86px 0 60px 0;
  width: 500.31px;
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.section-watch__text span {
  color: #FFEE2E;
}
.section-watch__text::before {
  content: "";
  z-index: -1;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  width: 465px;
  height: 465px;
  border-radius: 50%;
  position: absolute;
  top: -74px;
  left: -73px;
}

.section_backstage {
  background: url("assets/images/flower.png") 100% 12px no-repeat;
}
.backstage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 87px;
  align-items: start;
  padding: 140px 0 180px;
  height: 723px;
}
.backstage__img {
  width: 609px;
  height: 403px;
  margin-left: -1px;
}
.backstage__content {
  color: #333B41;
}
.backstage__caption {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: left;
}
.backstage__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  padding-top: 22px;
}
.backstage__subcaption {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  padding-top: 54px;
  text-align: left;
}
.backstage__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding-top: 33px;
}

.section_pets {
  background: url("assets/images/palm.png") bottom left no-repeat, url("assets/images/strelitzia.png") bottom right no-repeat;
}
.pet-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  overflow: hidden;
}

.pet-card {
  width: 366px;
  height: 426px;
  border-radius: 5px;
  overflow: hidden;
  background: linear-gradient(to right bottom, #FA6F32, #FE9013);
  z-index: 1;
}
.pet-card:hover .pet-card__img {
  scale: 1.05;
  transition: all 0.5s linear;
  -webkit-filter: brightness(50%);
}
.pet-card:hover .pet-card__description {
  top: -54px;
  background-color: #FE9013;
  opacity: 0.8;
  border-radius: 5px;
  margin: 0 5px;
  transition: all 0.5s linear;
}
.pet-card__content {
  margin: 1px;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}
.pet-card__img {
  width: 366px;
  height: 366px;
  transition: all 0.5s linear;
}
.pet-card__description {
  position: relative;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 7px 12px 15px;
  top: 0;
  left: 0;
  transition: all 0.5s linear;
}
.pet-card__text {
  color: #000000;
  font-style: normal;
}
.pet-card__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}
.pet-card__area {
  font-weight: 300;
  font-size: 15px;
}
.pet-card__food {
  width: 48px;
  height: 38px;
}
.pet-card__food-img_banana-bamboo {
  margin-left: 11px;
  margin-top: 2px;
}

.pets-block {
  position: relative;
}
.pets__arrows {
  display: flex;
  justify-content: space-between;
  width: 1322px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.pets__arrow {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pets__arrow_right {
  transform: rotate(180deg);
}
.pets__button-choose-fav {
  margin: 80px auto 100px;
}

.center-wrap {
  display: flex;
  justify-content: center;
}

.section_pick {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  height: 1004px;
  padding: 69px 0 100px;
}
.section-pick-content {
  padding: 41px 0 59px;
  height: 835px;
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px;
}

.pick__caption {
  color: #FE9013;
  margin-bottom: 31px;
}
.pick__sub-caption {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  margin-bottom: 41px;
}
.pick__text {
  position: relative;
}
.pick__text, .pick__text a, .pick__text a:visited {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
}
.pick__text a {
  border-bottom: 1px solid #FE9013;
  padding-bottom: 2px;
}
.pick__text-block {
  margin-left: 99px;
}
.pick__text_bold {
  font-weight: 500;
  margin-bottom: 10px;
}
.pick__text_main {
  width: 863px;
  height: 102px;
}
.pick__pay-caption {
  text-align: center;
  margin-bottom: 39px;
}

.payment-block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 60px;
}
.payment-block__arrow {
  display: flex;
  justify-content: center;
  width: 130px;
  height: 168px;
  padding-top: 61px;
}
.payment-block__arrow img {
  width: 71px;
  height: 37px;
}

.payment-card {
  width: 168px;
  height: 244px;
}
.payment-card__img {
  width: 100%;
  height: 100%;
}
.payment-card__img-content {
  background: linear-gradient(to right bottom, #FA6F32, #FE9013);
  border-radius: 5px;
  width: 100%;
  height: 168px;
  padding: 1px;
}
.payment-card__img-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 4px;
  overflow: hidden;
}
.payment-card__img_card {
  width: 108px;
  height: 60px;
}
.payment-card__img_hand {
  width: 87px;
  height: 96px;
  margin: 4px 0 0 -1px;
}
.payment-card__img_monkey {
  width: 127px;
  height: 73px;
}
.payment-card__text {
  padding-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}

.section_testimonials {
  background: url("assets/images/leaf.png") 100% 126% no-repeat;
}
.section-testimonials-content {
  padding: 142px 0 180px;
}

.testimonials__caption {
  margin-bottom: 45px;
}

.testimonials-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.testimonials-block__scroll {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  outline: none;
  background: #F5F7F6;
  border-radius: 5px;
  border: none;
  display: block;
  width: 100%;
  height: 100%;
}
.testimonials-block__scroll-wrap {
  margin: 21px 0 31px;
  border-radius: 5px;
  width: 599px;
  height: 8px;
  padding: 1px;
  background: linear-gradient(to right bottom, rgb(224, 216, 240), rgba(243, 169, 248, 0.66), rgba(254, 189, 171, 0.74));
}
.testimonials-block__scroll::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 115.19px;
  height: 6px;
  background: #FE9013;
  border-radius: 5px;
  cursor: pointer;
}
.testimonials-block__scroll::-moz-range-thumb {
  width: 115.19px;
  height: 6px;
  background: #FE9013;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.testimonials-cards {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.testimonial-card {
  display: block;
  margin-right: 29px;
  width: 268px;
  height: 391px;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(to right bottom, rgb(224, 216, 240), rgba(243, 169, 248, 0.66), rgba(254, 189, 171, 0.74));
}
.testimonial-card__content {
  background: #F1F3F2;
  border-radius: 19px;
  width: 100%;
  height: 100%;
  padding: 13px 13px 17px 14px;
}
.testimonial-card__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.testimonial-card__avatar {
  margin-right: 10px;
  width: 37px;
  height: 37px;
}
.testimonial-card__name {
  color: #000000;
  margin-bottom: 1px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}
.testimonial-card__info {
  display: inline-block;
  color: #BDBDBD;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}
.testimonial-card__info_location:after {
  content: "•";
  margin: 0 1px 0 8px;
}
.testimonial-card__text {
  color: #767474;
  margin-top: 10px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  width: 237px;
  height: 309px;
  overflow: hidden;
}

.footer {
  background: #111115;
}
.footer-content {
  max-width: 1160px;
  padding: 40px 0 50px;
}
.footer__copyright {
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-self: end;
  transition: all 0.1s ease-out;
}
.footer__copyright p {
  position: relative;
  white-space: nowrap;
}
.footer__copyright:not(:hover) {
  transition: all 0.1s ease-out;
}
.footer__copyright:hover:not(:active) {
  text-shadow: 0px 0px 5px #fff;
  transition: all 0.1s ease-in;
}
.footer__copyright p:first-of-type {
  margin-bottom: 12.4px;
}
.footer__copyright:active {
  transition: all 0.1s ease-in;
  color: #4B9200;
}
.footer__copyright:active p::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #4B9200;
  position: absolute;
  top: 100%;
  left: 0;
  transition: all 0.1s ease-in;
}
.footer__donate-button {
  margin: 36px 0 44px;
}
.footer__row1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__row2 {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: end;
}

.main-menu {
  margin-bottom: 2px;
}
.main-menu__list_footer {
  display: flex;
  justify-content: center;
  justify-self: center;
}
.main-menu__item_footer {
  margin: 0 29px;
}

.subscribe__caption {
  display: block;
  margin: 1px 0 13px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
}
.subscribe__email {
  display: inline-block;
  width: 228px;
  height: 42px;
  border-radius: 2px;
  border: 0.7px solid #F9804B;
  color: #F9804B;
  padding: 10px;
  background-color: transparent;
  margin-right: 6px;
}
.subscribe__email:focus {
  border-color: #4B9200;
  color: #4B9200;
}
.subscribe__email:not([value=""]):not(:focus):invalid {
  border-color: #D31414;
  color: #D31414;
}
.subscribe__email:invalid ~ button {
  border-color: #D31414;
  color: #D31414;
  pointer-events: none;
}
.subscribe__email::-moz-placeholder {
  color: #BDBDBD;
}
.subscribe__email:-ms-input-placeholder {
  color: #BDBDBD;
}
.subscribe__email::placeholder {
  color: #BDBDBD;
}
.subscribe__submit {
  display: inline-block;
  width: 129px;
  height: 42px;
  background: #F1F3F2;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  border: 1px solid #333B41;
  margin-bottom: 0;
}
.subscribe__submit:active {
  color: #4B9200;
  border-color: 1px solid #4B9200;
}

.social-links {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

.social-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.1s ease-out;
}
.social-link:hover:not(:active) {
  text-shadow: 0px 0px 5px #fff;
  transition: all 0.1s ease-in;
}
.social-link:hover:not(:active) .social-link__icon {
  box-shadow: 0px 0px 5px 0px rgb(255, 255, 255);
  transition: all 0.1s ease-in;
}
.social-link:active .social-link__name {
  color: #4B9200;
  transition: all 0.1s ease-in;
}
.social-link:active .social-link__icon {
  background-color: #4B9200;
  transition: all 0.1s ease-in;
}
.social-link__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.5);
  margin-right: 12px;
}
.social-link__img_youtube {
  margin-top: -1px;
}
.social-link__name {
  margin-top: 3px;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}