$content-width: 1220px;
$content-width_small-desktop: 1000px;
$content-width_tablet: 640px;
$content-width_mobile: 320px;
$menu-active-color: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$media1: 1500px;
$media2: 1360px;
$media3: 999px;
$media4: 800px;
$media5: 639px;

@mixin menu-active {
    background: $menu-active-color;
    background-color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background: #FFFFFF;
    height: fit-content;
    &-content {

    }
}

h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
}

h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #333B41;
}

.button {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 5px;
    &_rounded {
        border-radius: 25px;
        padding: 0 1px 0 5px;
        &:disabled {
            background: #828282;
        }
    }
    &_round {
        border-radius: 50%;
    }
    &:hover {
        background: #E47209;
    }
    &:active {
        background: #4B9200;
    }
    &:disabled {
        background: #767474;
    }
}

.center-content {
    max-width: $content-width;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    &_fixed {
        width: $content-width;
    }
}

@media screen and (max-width: $media2) {
    .center-content {
        min-width: $content-width_small-desktop;
        &_fixed {
            width: $content-width_small-desktop;
        }
    }
}

@media screen and (max-width: $media3) {
    .center-content {
        min-width: $content-width_tablet;
        padding-left: 20px;
        padding-right: 20px;
        &_fixed {
            width: $content-width_tablet;
        }
    }
}

@media screen and (max-width: $media5) {
    .center-content {
        min-width: $content-width_mobile;
        padding-left: 10px;
        padding-right: 10px;
        &_fixed {
            width: $content-width_mobile;
        }
    }
}