.footer {
    background: #111115;
    &-content {
        padding-top: 40px;
        padding-bottom: 50px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr auto 1fr;
        grid-template-areas:    "logo subscribe subscribe"
                                "donate-button donate-button donate-button"
                                "social-links menu copyright";
    }
    &__copyright {
        grid-area: copyright;
        align-self: end;
        font-style: normal;
        font-weight: 100;
        font-size: 16px;
        line-height: 1.2;
        color: #FFFFFF;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-self: end;
        transition: all 0.1s ease-out;
        p {
            position: relative;
            white-space: nowrap;
        }
        &:not(:hover) {
            transition: all 0.1s ease-out;
        }
        &:hover:not(:active) {
            text-shadow: 0px 0px 5px #fff;
            transition: all 0.1s ease-in;
        }
        p:first-of-type {
            margin-bottom: 12.4px;
        }
        &:active {
            transition: all 0.1s ease-in;
            color: #4B9200;
            p::after {
                content: '';
                width: 100%;
                height: 1px;
                background-color: #4B9200;
                position: absolute;
                top: 100%;
                left: 0;
                transition: all 0.1s ease-in;
            }
        }
    }
    &__donate-button {
        grid-area: donate-button;
        margin: 36px 0 44px;
    }
    &__row1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__row2 {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: end;
    }
}

.logo_footer {
    grid-area: logo;
}

.main-menu {
    // margin-bottom: 2px;
    &_footer {
        grid-area: menu;
        align-self: end;
        .main-menu__list {
            display: flex;
            justify-content: center;
            justify-self: center;
        }
        .main-menu__item {
            margin: 0 29px;
         }
    }
}

.subscribe {
    grid-area: subscribe;
    justify-self: end;
    &__caption {
        display: block;
        margin: 1px 0 13px 0;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: #FFFFFF;
    }
    &__email {
        display: inline-block;
        width: 228px;
        height: 42px;
        border-radius: 2px;
        border: 0.7px solid #F9804B;
        color: #F9804B;
        padding: 10px;
        background-color: transparent;
        margin-right: 6px;
        &:focus {
            border-color: #4B9200;
            color: #4B9200;
        }
        &:not([value=""]):not(:focus):invalid {
            border-color: #D31414;
            color: #D31414;
        }
        &:invalid ~ button {
            border-color: #D31414;
            color: #D31414;
            pointer-events: none;
        }
        &::placeholder {
            color: #BDBDBD;
        }
    }
    &__submit {
        display: inline-block;
        width: 129px;
        height: 42px;
        background: #F1F3F2;
        border-radius: 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #000000;
        border: 1px solid #333B41;
        margin-bottom: 0;
        &:active {
            color: #4B9200;
            border-color: 1px solid #4B9200;
        }
    }
}

.social-links {
    grid-area: social-links;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
}

.social-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    transition: all 0.1s ease-out;
    &:hover:not(:active) {
        text-shadow: 0px 0px 5px #fff;
        transition: all 0.1s ease-in;
    }
    &:hover:not(:active) &__icon {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
        transition: all 0.1s ease-in;
    }
    &:active &__name {
        color: #4B9200;
        transition: all 0.1s ease-in;
    }
    &:active &__icon {
        background-color: #4B9200;
        transition: all 0.1s ease-in;
    }
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: rgba(196, 196, 196, 0.5);
        margin-right: 12px;
    }
    &__img {
        &_youtube {
            margin-top: -1px;
        }
    }
    &__name {
        margin-top: 3px;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
    }
}

@media screen and (max-width: $media2) {
    .subscribe {
        margin-right: 32px;
    }

    .main-menu_footer {
        .main-menu__item {
            margin: 0 24px;
            &:first-of-type {
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width: $media4) {
    .footer {
        &-content {
            padding-top: 12px;
            padding-bottom: 12px;
            grid-template-rows: auto;
            grid-template-columns: 1fr auto;
            grid-template-areas:    "logo social-links"
                                    "donate-button social-links"
                                    "menu copyright";
        }

        &__donate-button {
            margin: 32px 0 26px;
        }

        &__copyright {
            margin-top: 42px;
        }
    }

    .main-menu_footer {
        .main-menu__list {
            justify-content: flex-start;
        }
        .main-menu__item {
            margin: 0 18px;
            &:first-of-type {
                margin-left: 0;
            }
            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .subscribe {
        display: none;
    }

    .social-links {
        justify-self: end;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 30px;
    }

    .social-link {
        &__name {
            display: none;
        }
        &__icon {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: $media5) {
    .footer {
        &-content {
            grid-row-gap: 30px;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:    "logo"
                                    "social-links"
                                    "donate-button"
                                    "copyright"
                                    "menu";
            justify-items: center;
        }

        &__donate-button {
            margin: 0;
        }

        &__copyright {
            margin: 0;
        }

        .social-links {
            justify-self: inherit;
        }
    }

    .main-menu_footer {
        .main-menu__list {
            justify-content: center;
        }

        .main-menu__item {
            margin: 0 15px;
        }
    }

    .logo_footer {
        width: 128px;
        height: 23px;
        border: none;
        padding: 0;
        margin: 0;

        .logo__text {
            display: inline;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        &::before {
            left: 73px;
            top: -3px;
        }
    }
}