.logo {
    position: relative;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 52px;
    &:hover {

    }
    &__text {
        display: block;
        width: 80px;
        height: 50px;
        padding-top: 3px;
        text-align: center;
        font-weight: 400;
        font-size: 19.0145px;
        line-height: 120%;
    }
    &::before {
        content: '';
        position: absolute;
        top: 23px;
        left: 9px;
        width: 12px;
        height: 21px;
        background-color: #FFFFFF;
        -webkit-mask-image: url('assets/icons/bamboo.svg');
        mask-image: url('assets/icons/bamboo.svg');
    }
    &_header {
        margin-right: 63px;
    }
    &_header-menu {
        margin-bottom: 30.4px;
        display: none;
        border: 0.8px solid #FE9013;
        color: #FE9013;
        &::before {
            background-color: #FE9013;
        }
    }
    &_page-donate {
        &::before {
            -webkit-mask-image: url('../../assets/icons/bamboo.svg');
            mask-image: url('../../assets/icons/bamboo.svg');
        }
    }
}

@media screen and (max-width: $media4) {
    .logo {
        &_header {
            border: none;
            transform: scale(0.57);
        }
        &_header-menu {
            display: flex;
        }
    }
}