.section {
    &_pets {
        background: url('../../assets/images/palm.png') bottom left no-repeat, url('../../assets/images/strelitzia.png') bottom right no-repeat;
    }
    &-pets-content {

    }
}


.pet-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    overflow: hidden;
}

.pet-card {
    width: 366px;
    height: 426px;
    border-radius: 5px;
    overflow: hidden;
    background: linear-gradient(to right bottom, #FA6F32, #FE9013);
    z-index: 1;
    &:hover &__img {
        scale: 1.05;
        transition: all 0.5s linear;
        -webkit-filter: brightness(50%);
    }
    &:hover &__description {
        top: -54px;
        background-color: #FE9013;
        opacity: 0.8;
        border-radius: 5px;
        margin: 0 5px;
        transition: all 0.5s linear;
    }
    &__content {
        margin: 1px;
        border-radius: 4px;
        background-color: #fff;
        overflow: hidden;
    }
    &__img {
        width: 366px;
        height: 366px;
        transition: all 0.5s linear;
    }
    &__description {
        position: relative;
        height: 58px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 7px 12px 15px;
        top: 0;
        left: 0;
        transition: all 0.5s linear;
    }
    &__text {
        color: #000000;
        font-style: normal;
    }
    &__name {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
    }
    &__area {
        font-weight: 300;
        font-size: 15px;
    }
    &__food {
        width: 48px;
        height: 38px;
        &-img {
            &_meat-fish {

            }
            &_banana-bamboo {
                margin-left: 11px;
                margin-top: 2px;
            }
        }
    }
}

.pets {
    &-block {
        position: relative;
    }
    &__arrows {
        display: flex;
        justify-content: space-between;
        width: calc($max-content-width + (62px + 20px) * 2 - 2px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
    &__arrow {
        width: 62px;
        height: 62px;
        display: flex;
        justify-content: center;
        align-items: center;
        &_right {
            transform: rotate(180deg);
        }
    }
    &__button-choose-fav {
        margin: 80px auto 100px;
    }
}

.center-wrap {
    display: flex;
    justify-content: center;
}