.section {
    &_pick {
        background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
        opacity: 0.9;
        height: 1004px;
        padding: 69px 0 100px;
    }
    &-pick-content {
        padding: 41px 0 59px;
        height: 835px;
        background: rgba(253, 253, 255, 0.52);
        backdrop-filter: blur(2px);
        border-radius: 20px;
    }
}

.pick {
    &__caption {
        color: #FE9013;
        margin-bottom: 31px;
    }
    &__sub-caption {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: #333B41;
        margin-bottom: 41px;
    }
    &__text {
        &, & a, & a:visited {
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            color: #333B41;
        }
        position: relative;
        a {
            border-bottom: 1px solid #FE9013;
            padding-bottom: 2px;
        }
        &-block {
            margin-left: 99px;
        }
        &_bold{
            font-weight: 500;
            margin-bottom: 10px;
        }
        &_main {
            width: 863px;
            height: 102px;
        }
    }
    &__pay-caption {
        text-align: center;
        margin-bottom: 39px;
    }
}

.payment-block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;
    &__arrow {
        display: flex;
        justify-content: center;
        width: 130px;
        height: 168px;
        padding-top: 61px;
        img {
            width: 71px;
            height: 37px;
        }
    }
}

.payment-card {
    width: 168px;
    height: 244px;
    &__img {
        &-content {
            background: linear-gradient(to right bottom, #FA6F32, #FE9013);
            border-radius: 5px;
            width: 100%;
            height: 168px;
            padding: 1px;
        }
        &-wrap {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FFFFFF;
            border-radius: 4px;
            overflow: hidden;
        }
        width: 100%;
        height: 100%;
        &_card {
            width: 108px;
            height: 60px;
        }
        &_hand {
            width: 87px;
            height: 96px;
            margin: 4px 0 0 -1px;
        }
        &_monkey {
            width: 127px;
            height: 73px;
        }
    }
    &__text {
        padding-top: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #333B41;
    }
}